<!DOCTYPE HTML>
<html>
<head>
    <title>Main</title>
    <meta charset="UTF-8">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin Portal</a>
</nav>

<div class="container mt-5">
    <form action="/firebase/token" method="get">
        <button type="submit" class="btn btn-primary btn-block">조회</button>
    </form>
</div>
</body>

</html>